这个文件是示例文件。展示如何使用sklearn，对数据进行处理。

In [1]:
%matplotlib inline
import pandas as pd

store = pd.HDFStore('store.h5')
feats = store['feats']
labs = store['labs']
print feats.shape
print labs.shape

(66067, 81)
(66067, 3)

In [2]:
feats.head()

,TEZ,TEG,W,FP,FPA,FPB,FPC,FPD,PSB,PJ,...,SITA3,K3,FRB3,H4,Y4,FI4,EM4,P4,SITA4,K4
0,39.02995,34.62457,1.494358,155.4688,71.62905,127.0255,67.39005,53.60243,140.4080,44.67593,...,0.45,0.5,22,0,0,0,0,0,0,0
1,39.20356,34.79818,1.490017,155.3819,72.13542,126.6927,68.01215,52.67651,140.4080,44.58912,...,0.45,0.5,22,0,0,0,0,0,0,0
2,39.03357,34.60287,1.490017,155.1939,74.75405,126.3744,68.96702,49.66724,140.4080,44.73380,...,0.45,0.5,22,0,0,0,0,0,0,0
3,39.15654,34.81988,1.490017,155.1215,72.98901,127.1412,67.67940,53.97858,140.3356,44.79166,...,0.45,0.5,22,0,0,0,0,0,0,0
4,39.02633,34.62457,1.486979,155.2373,72.26563,126.9965,68.17130,55.70023,140.3356,44.71933,...,0.45,0.5,22,0,0,0,0,0,0,0

In [3]:
labs.head()

          F         T         V
0  9030.883  1329.209  74.16113
1  9031.707  1318.507  70.97778
2  9051.828  1302.055  71.93286
3  9094.104  1291.687  69.70459
4  9129.016  1314.849  70.97778

接着我们使用线性模型，对F做拟合
http://scikit-learn.org/stable/modules/linear_model.html

In [4]:
from sklearn import linear_model
clf = linear_model.LinearRegression()
clf.fit(feats,labs['F'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

我们看一下线性回归的系数：

In [5]:
clf.coef_

array([  3.43652217e+00,   2.31710159e+00,   1.96976883e+02,
         3.82514949e+00,   2.93590722e+01,   2.34881866e+01,
         2.95920161e+01,   2.58287543e+01,  -2.52031076e-01,
        -2.67066877e-02,  -1.02529257e-01,  -1.26459157e-01,
        -1.05068390e+00,  -6.08984340e-01,   5.23475254e-01,
         5.72339342e-01,   1.33651025e-01,  -1.19567701e-01,
        -5.60325001e+00,   2.13918573e+00,  -5.98871776e+00,
         3.53191529e+01,  -2.45427717e+02,   2.00145552e+02,
         2.56113913e+02,   8.61510557e+01,  -2.70700886e+01,
        -6.49193993e+00,  -4.49449434e+00,  -1.87676690e+01,
         2.03087183e+00,   1.11452159e-11,  -1.09809800e+01,
         4.53132030e-01,  -1.29455683e+00,   4.60693435e-01,
         2.12445852e-01,  -8.37494675e-01,  -1.35923477e+02,
        -2.59463559e+00,   1.53297261e+02,  -2.77864403e+00,
         4.85212403e+00,  -6.10249257e+00,   4.04303523e+00,
         4.20639642e+00,  -5.03578851e+00,   4.43304230e+00,
        -4.55393846e+00,  -1.37578911e+02,  -4.35972920e+01,
        -4.92271612e+02,   5.93211646e+01,  -5.09731759e+01,
         5.10532003e+01,  -1.08806342e+03,  -2.03176614e+01,
         2.36638766e+01,  -4.40403071e+01,   9.05902902e+01,
        -3.67290473e+01,   1.07556260e+01,  -3.36453806e+03,
         3.07653659e+02,   1.87094203e+01,  -9.83671689e+00,
        -4.23137181e+01,  -9.20570540e+01,   7.45033250e+01,
        -1.22216293e-01,   2.84719267e+02,   1.69638533e+01,
        -2.91271842e+01,  -1.92010542e+00,  -6.90718788e+00,
        -1.49472377e+02,   1.42879377e+02,  -3.15444741e+01,
         3.45496250e+01,  -1.21236675e+02,   4.97463162e+02])

In [6]:
plot(clf.coef_)

NameError: name 'plot' is not defined